.container-fluid.fixed-top.header.disable-selection
  .row
    .col
    .col-md-6
      .row
        .col
          h1
            strong Lab City 3D
          p.small – Back to the red –
          //.btn.btn-danger(href='#',role='button', onclick='cameraSet()') + ADD LINE
    .col

//.container-fluid.fixed-bottom.footer
 .row
  .col
   h4 Experiment N.3
   small
    a(href='https://dribbble.com/victorvergara', target='_blank') dribbble.com/victorvergara